body{
    margin: 0px;
    font-family: sans-serif;
    width: 90%;
    margin: 0 auto;
    font-weight: 400;
    background:rgb(225, 236, 240); 
}

.navbar{
    width: 100%;
    margin: 0 auto;
    background-color: #10374E;
    transition: .5s;
    font-family: 'Rajdhani', sans-serif;
    /*display: flex;
    position: relative; 
    z-index: 10;
    
    max-height: 250px;
     overflow-y: scroll; 
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    */
}

header{
    background:rgb(225,236,240);
}

header::after{
    content: '';
    display: table;
    clear: both;
}


nav{
    float: right;
    /* width: 100%;  
    margin: 0 auto;
    */
}


.nav-logo {
    float: left;
    padding: 10px 0;
   
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  
   /*    float: right;
    margin-right: 20px; */
  
}
nav ul li{
    display: inline-block;
    
  /* line-height: 80px;  */ 
    margin-left: 70px;
    padding-top: 35px;

    position: relative;
  }
nav ul li a{
    color:#070707; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    /*margin: auto;
    display: center;
    text-align: right;
    padding: 10px 5px;
    border-radius: 3px;*/
}

nav a:hover{
    color:rgb(152, 191, 204);
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(152, 191, 204);

    position: absolute;
    top: 0;
     width: 0%; 

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;

}
/*.subscribe-link {
    background-color: #39B54A;
    color: white;
} */

/*cards on home page*/
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    margin: 10px 30px 30px 30px;
    border-radius: 5px 5px 0 0;
}
.card-main{
    /* background-image: url(“images/agalteca-map.png”); */
    background-color: lightblue;
    padding: 20px 60px;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    font-size: 24px;
}
.card-bottom{
    padding: 0px 10px;
}
.card-bottom .card-metric{
    font-family:  sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4D4A4A;
}
.card-main:hover{
    background-color: rgb(152, 191, 204);
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

/* Mobile 
@media (max-width: 700px) {
    p {
      font-size: 18px;
    }
    
    /*nav bar
    .header{
      display:flex;
      flex-direction: column;
    }
    .nav-logo{
      width:100%;
    }
}*/*/