body{
    margin: 0px;
    font-family: sans-serif;
}

.navbar{
    background-color: #10374E;
    display: flex;
    position: fixed; 
    width: 100%;
    z-index: 10;
    font-family: 'Rajdhani', sans-serif;
    max-height: 250px;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 50px auto; 
}
nav ul li{
    margin: 15px;
  }
nav ul li a{
    margin: auto;
    display: center;
    text-align: right;
    padding: 10px 5px;
    font-size: 28px;
    text-decoration: none;
    color:#ffffff;
  
  }
.nav-logo {
    padding-top: 20px;
   
}
.nav-plants {
    padding-left: 500px; 
    
} 

.subscribe-link {
    background-color: #39B54A;
    color: white;
}

/*cards on the home page*/
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    margin: 10px 30px;
}
.card-main{
    background-color: lightblue;
    padding: 10px 20px;
}

.card-main:hover{
    background-color: rgb(152, 191, 204);
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

/* Mobile */
@media (max-width: 700px) {
    p {
      font-size: 18px;
    }
    
    /*nav bar*/
    .header{
      display:flex;
      flex-direction: column;
    }
    .nav-logo{
      width:100%;
    }
}