body{
    margin: 0px;
    font-family: sans-serif;
}
main{
    padding: 20px 10px;
}
nav{
    width: 100%; 
}
.navbar{
    background-color: #10374E;
    display: flex;
    position: relative; 
    width: 100%;
    z-index: 10;
    font-family: 'Rajdhani', sans-serif;
    max-height: 250px;
    overflow-y: scroll; 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    transition: .5s; 
}
nav ul{
    float: right; 
    margin-right: 20px;
   /* display: flex;
     flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 50px auto;  */
}
nav ul li{
    display: inline-block;
    line-height: 80px; 
    margin: 0 5px;
  }
nav ul li a{
    margin: auto;
    display: center;
    text-align: right;
    padding: 10px 5px;
    font-size: 28px;
    text-decoration: none;
    color:#ffffff;
    border-radius: 3px;
}
  
/* a.navname,a:hover {
    background: #1b9bff; 
    transition: .5s; 
} */
  /* }
.nav-logo {
    padding-top: 20px;
   
}
.nav-plants {
    padding-left: 500px; 
    
}  */

.subscribe-link {
    background-color: #39B54A;
    color: white;
}

/*cards on home page*/
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    margin: 10px 30px 30px 30px;
    border-radius: 5px 5px 0 0;
}
.card-main{
    /* background-image: url(“images/agalteca-map.png”); */
    background-color: lightblue;
    padding: 20px 60px;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    font-size: 24px;
}
.card-bottom{
    padding: 0px 10px;
}
.card-bottom .card-metric{
    font-family:  sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #4D4A4A;
}
.card-main:hover{
    background-color: rgb(152, 191, 204);
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

footer{
    padding: 10px 40px;
    background-color: #10374E;
}

footer .about-us{
    color: azure;
}

/* Mobile */
@media (max-width: 700px) {
    p {
      font-size: 18px;
    }
    
    /*nav bar*/
    .header{
      display:flex;
      flex-direction: column;
    }
    .nav-logo{
      width:100%;
    }
}