body{
    margin: 0px;
    font-family: sans-serif;
    width: 90%;
    margin: 0 auto;
    font-weight: 400;
    background:rgb(225, 236, 240); 
} 
 
 .header{
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px; 
    background:rgb(225,236,240);
}

.formcontent{
    margin-top: 125px;
}

.name, .email, .password, .repeat{
    padding: 10px;
    color: #10374E;
    font-weight: bold;
    font-size: 22px;
}

input{ 
    border: 2px solid #39B54A;
    padding: 8px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

input.name, input.email, input.password, input.repeat {
    width: 100%;
}

input.subscribe{
    font-size: 22px;
    background-color: #ccf3d2;
    padding: 3px;
    border: 3px solid #39B54A;
    width: 25%;
}

.navbar{
    width: 100%;
    margin: 0 auto;
    background-color: #10374E;
    transition: .5s;
    font-family: 'Rajdhani', sans-serif;

}


header::after{
    content: '';
    display: table;
    clear: both;
}


nav{
    float: right;

}


.nav-logo {
    float: left;
    padding: 10px 0;
   
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
nav ul li{
    display: inline-block;
    /* margin-left: 70px; */
    margin: 35px 40px 0px 40px;
    position: relative;
    text-align:center;
  }
nav ul li a{
    color:#070707; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 28px;
    margin: auto;
    /* margin: 0px 50px; */

}

nav a:hover{
    color:rgb(152, 191, 204);
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: rgb(152, 191, 204);

    position: absolute;
    top: 0;
     width: 0%; 

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;

}

/*make dropdown appear on hover. CHANGE TO JS*/
.navplants:hover + .hidden {
    display: block;
}

/*navbar: plants dropdown*/
.nav-dropdown{
    position: absolute;
    /* width: 150px; */
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 236, 240);
    border: 1px solid #10374e;
    border-radius: 5px;
}

.nav-dropdown li{
    padding: 5px;
    margin:0px;
    text-align: left;
    /*background-color: #eff2f3; */
    border:none;
}

.nav-dropdown li a{
    font-size: 20px;
}